<center>
  <div class="mb-5">
    <div class="card border-primary mb-3" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">
        </h5>
      <%= render "components/informations_events" %>
    </div>
    <a class="btn btn-danger" href="" role="button">Delete Event</a>
    <a class="btn btn-primary" href="" role="button">Edit Event</a>
    </div>
  </div>
</div>
</center>