<div class="col-lg-3 ml-auto">
  <div class="mb-5">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header">
        Organised by :
        <h7 style="color: white;">
          <%= @event.administrator.last_name %>
        </h7>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <% if @event.administrator.profile_picture.attached? %>
          <center>
            <div class="profile-userpic">
              <%= image_tag(@event.administrator.profile_picture, height: '190', width: '190', alt: "profile_picture" ) %>
            </div>
          </center>
          <% else %>
          <% end %>
        </h5>
        <center>
          <% if current_user == @event.administrator %>
          <p class="card-text">
            <a class="btn btn-info" role="button"
            <%= link_to "Profile", user_path(@event.administrator.id) %>
          </a>
          <a href="#" class="btn btn-info" role="button">Edit Event </a>
          <% else %>
          <% end %>
        </p>
      </center>
      <%= render "components/informations_events" %>
      <a href="/users/edit" class="btn btn-info" role="button">Subscribe</a>
      <a href="/users/edit" class="btn btn-danger" role="button">Unsubscribe</a>
    </div>
  </div>
</div>
