<div class="container">
  <% if user_signed_in? %>
    <div class="comment_post_form">
      <%= form_with model: [@event, @comment] do |f| %>
      <%= f.text_field :body, class:"form-control col-6" %>
      <br />
      <%= f.submit "Comment on this article" %>
      <% end %>
      <br />
    </div>
  <% end %>

  <div id="comment_card">
    <% @comments.each do |comment| %>
    <p>
      <%= render "comments/comment", comment: comment %>
    </p>
    <% end %>
  </div>
</div>
