
<div class="listing-item">
    
    <div class="listing-image">
        <img src="/assets/img_1.jpg" alt="Image" class="img-fluid">
    </div>
              
    <div class="listing-item-content">
        <a href="#" class="bookmark" data-toggle="tooltip" data-placement="left" title="Bookmark"><span class="icon-heart"></span></a>
        <a class="px-3 mb-3 category" href="#">Car &amp; Vehicles</a>
         
         <h2 class="mb-1"><a href="#">Red Luxury Car</a></h2>
         
         <span class="address">West Orange, New York</span>
    </div>

</div>



