<div class="site-section bg-light">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-11 mb-3 mt-5" data-aos="fade">
        <% if @event.errors.any? %>
        <div class="alert alert-warning" role="alert">
          <p>
            Your event could not be modified! Please check the following errors :
          </p>
          <ul>
            <% @event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="row">
          <div class="col-3 border-primary ">
            <h2 class="font-weight-light text-primary display-2">Update your event</h2>
            <h1><mark><%= @event.title %></mark></h1>
          </div>
          <div class='col-9'>
            <%= render "components/form-event" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
