<%= render "components/search_top" %>
<div class="site-section bg-light">
  <div class="container">
    <%= render 'components/categories' %>
    <div class="site-section" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Latest Events</h2>
            <p class="color-black-opacity-5">
            Check out the latest events around!
            </p>
          </div>
        </div>

        <div class="row">
          <%= render 'components/event_card' %>
        </div>

      </div>
    </div>
  </div>
</div>
<%= render "components/testimonial" %>
