<%= render "components/search_top" %>
<div class="site-section bg-light">
  <div class="container">
    <%= render 'components/categories' %>
    <div class="site-section" data-aos="fade">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-5 border-primary ">
            <h2 class="font-weight-light text-primary display-1">Better together</h2>
            <p>
              ShareMyHobby is a platform for finding and building local communities. People use ShareMyHobby learn new things, meet new people, challenge themselves, and pursue their passions, together.
            </p>
          </div>
          <div class="col-6 img-fluidfloat-right w-10">
            <%= image_tag "front-image.jpg" %>
          </div>
        </div>
        <div class="row justify-content-center mb-4 align-items-center">
          <div class="col-md-7 text-center border-primary">
            <br>
            <br>
            <h2 class="font-weight-light text-primary">Latest events that might interest you</h2>
            <p class="color-black-opacity-5"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12  block-13">
            <div class="owl-carousel nonloop-block-13">
              <div class="d-block d-md-flex listing vertical">
                <a href="listings-single.html" class="img d-block" style="background-image: url('images/img_1.jpg')"></a>
                <div class="lh-content">
                  <span class="category">Cars &amp; Vehicles</span>
                  <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                  <h3><a href="listings-single.html">Red Luxury Car</a></h3>
                  <address>
                    Don St, Brooklyn, New York
                  </address>
                  <p class="mb-0">
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-warning"></span>
                    <span class="icon-star text-secondary"></span>
                    <span class="review">(3 Reviews)</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mb-4 align-items-center">
          <div class="col-md-7 text-center border-primary">
            <br>
            <br>
            <h2 class="font-weight-light text-primary">Latest Events</h2>
            <p class="color-black-opacity-5">
              Join the latest events around!
            </p>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <%= render 'components/event_card' %>
          </div>
        </div>
      </div>
    </div>
  </div>
