<div class="site-section bg-light">
  <div class="container">
    <div class="overlap-category mb-5">
      <div class="row align-items-stretch no-gutters">
        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <a href="#" class="popular-category h-100">
            <span class="icon"><span class="flaticon-house"></span></span>
            <span class="caption mb-2 d-block">Real Estate</span>
            <span class="number">3,921</span>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <a href="#" class="popular-category h-100">
            <span class="icon"><span class="flaticon-books"></span></span>
            <span class="caption mb-2 d-block">Books &amp; Magazines</span>
            <span class="number">398</span>
          </a>
        </div>
        <%= render "components/category_card" %>
        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <a href="#" class="popular-category h-100">
            <span class="icon"><span class="flaticon-innovation"></span></span>
            <span class="caption mb-2 d-block">Electronics</span>
            <span class="number">32,891</span>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <a href="#" class="popular-category h-100">
            <span class="icon"><span class="flaticon-car"></span></span>
            <span class="caption mb-2 d-block">Cars &amp; Vehicles</span>
            <span class="number">29,221</span>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
          <a href="#" class="popular-category h-100">
            <span class="icon"><span class="flaticon-pizza"></span></span>
            <span class="caption mb-2 d-block">Other</span>
            <span class="number">219</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="h5 mb-4 text-black">In Comming Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12  block-13">
        <div class="owl-carousel nonloop-block-13">
          <div class="d-block d-md-flex listing vertical">
            <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_1.jpg')"></a>
            <div class="lh-content">
              <span class="category">Cars &amp; Vehicles</span>
              <a href="#" class="bookmark"><span class="icon-heart"></span></a>
              <h3><a href="listings-single.html">Red Luxury Car</a></h3>
              <address>
                Don St, Brooklyn, New York
              </address>
              <p class="mb-0">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-secondary"></span>
                <span class="review">(3 Reviews)</span>
              </p>
            </div>
          </div>
          <div class="d-block d-md-flex listing vertical">
            <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_2.jpg')"></a>
            <div class="lh-content">
              <span class="category">Real Estate</span>
              <a href="#" class="bookmark"><span class="icon-heart"></span></a>
              <h3><a href="/show">House with Swimming Pool</a></h3>
              <address>
                Don St, Brooklyn, New York
              </address>
              <p class="mb-0">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-secondary"></span>
                <span class="review">(3 Reviews)</span>
              </p>
            </div>
          </div>
          <div class="d-block d-md-flex listing vertical">
            <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_3.jpg')"></a>
            <div class="lh-content">
              <span class="category">Furniture</span>
              <a href="#" class="bookmark"><span class="icon-heart"></span></a>
              <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
              <address>
                Don St, Brooklyn, New York
              </address>
              <p class="mb-0">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-secondary"></span>
                <span class="review">(3 Reviews)</span>
              </p>
            </div>
          </div>
          <div class="d-block d-md-flex listing vertical">
            <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_4.jpg')"></a>
            <div class="lh-content">
              <span class="category">Electronics</span>
              <a href="#" class="bookmark"><span class="icon-heart"></span></a>
              <h3><a href="listings-single.html">iPhone X gray</a></h3>
              <address>
                Don St, Brooklyn, New York
              </address>
              <p class="mb-0">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-secondary"></span>
                <span class="review">(3 Reviews)</span>
              </p>
            </div>
          </div>
          <div class="d-block d-md-flex listing vertical">
            <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_1.jpg')"></a>
            <div class="lh-content">
              <span class="category">Cars &amp; Vehicles</span>
              <a href="#" class="bookmark"><span class="icon-heart"></span></a>
              <h3><a href="listings-single.html">Red Luxury Car</a></h3>
              <address>
                Don St, Brooklyn, New York
              </address>
              <p class="mb-0">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-secondary"></span>
                <span class="review">(3 Reviews)</span>
              </p>
            </div>
          </div>
          <div class="d-block d-md-flex listing vertical">
            <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_2.jpg')"></a>
            <div class="lh-content">
              <span class="category">Real Estate</span>
              <a href="#" class="bookmark"><span class="icon-heart"></span></a>
              <h3><a href="listings-single.html">House with Swimming Pool</a></h3>
              <address>
                Don St, Brooklyn, New York
              </address>
              <p class="mb-0">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-secondary"></span>
                <span class="review">(3 Reviews)</span>
              </p>
            </div>
          </div>
          <div class="d-block d-md-flex listing vertical">
            <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_3.jpg')"></a>
            <div class="lh-content">
              <span class="category">Furniture</span>
              <a href="#" class="bookmark"><span class="icon-heart"></span></a>
              <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
              <address>
                Don St, Brooklyn, New York
              </address>
              <p class="mb-0">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-secondary"></span>
                <span class="review">(3 Reviews)</span>
              </p>
            </div>
          </div>
          <div class="d-block d-md-flex listing vertical">
            <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_4.jpg')"></a>
            <div class="lh-content">
              <span class="category">Electronics</span>
              <a href="#" class="bookmark"><span class="icon-heart"></span></a>
              <h3><a href="listings-single.html">iPhone X gray</a></h3>
              <address>
                Don St, Brooklyn, New York
              </address>
              <p class="mb-0">
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-warning"></span>
                <span class="icon-star text-secondary"></span>
                <span class="review">(3 Reviews)</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section bg-light">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-7 text-left border-primary">
        <h2 class="font-weight-light text-primary"> All Events </h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <div class="d-block d-md-flex listing">
          <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_2.jpg')"></a>
          <div class="lh-content">
            <span class="category">Real Estate</span>
            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
            <h3><a href="listings-single.html">House with Swimming Pool</a></h3>
            <address>
              Don St, Brooklyn, New York
            </address>
            <p class="mb-0">
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-secondary"></span>
              <span class="review">(3 Reviews)</span>
            </p>
          </div>
        </div>
        <div class="d-block d-md-flex listing">
          <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_3.jpg')"></a>
          <div class="lh-content">
            <span class="category">Furniture</span>
            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
            <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
            <address>
              Don St, Brooklyn, New York
            </address>
            <p class="mb-0">
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-secondary"></span>
              <span class="review">(3 Reviews)</span>
            </p>
          </div>
        </div>
        <div class="d-block d-md-flex listing">
          <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_4.jpg')"></a>
          <div class="lh-content">
            <span class="category">Electronics</span>
            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
            <h3><a href="listings-single.html">iPhone X gray</a></h3>
            <address>
              Don St, Brooklyn, New York
            </address>
            <p class="mb-0">
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-secondary"></span>
              <span class="review">(3 Reviews)</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-block d-md-flex listing">
          <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_1.jpg')"></a>
          <div class="lh-content">
            <span class="category">Cars &amp; Vehicles</span>
            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
            <h3><a href="listings-single.html">Red Luxury Car</a></h3>
            <address>
              Don St, Brooklyn, New York
            </address>
            <p class="mb-0">
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-secondary"></span>
              <span class="review">(3 Reviews)</span>
            </p>
          </div>
        </div>
        <div class="d-block d-md-flex listing">
          <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_2.jpg')"></a>
          <div class="lh-content">
            <span class="category">Real Estate</span>
            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
            <h3><a href="listings-single.html">House with Swimming Pool</a></h3>
            <address>
              Don St, Brooklyn, New York
            </address>
            <p class="mb-0">
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-secondary"></span>
              <span class="review">(3 Reviews)</span>
            </p>
          </div>
        </div>
        <div class="d-block d-md-flex listing">
          <a href="listings-single.html" class="img d-block" style="background-image: url('/assets/img_3.jpg')"></a>
          <div class="lh-content">
            <span class="category">Furniture</span>
            <a href="#" class="bookmark"><span class="icon-heart"></span></a>
            <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
            <address>
              Don St, Brooklyn, New York
            </address>
            <p class="mb-0">
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-warning"></span>
              <span class="icon-star text-secondary"></span>
              <span class="review">(3 Reviews)</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section bg-white">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">Testimonials</h2>
      </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">
      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="/assets/person_3.jpg" alt="Image" class="img-fluid mb-3">
            <p>
              John Smith
            </p>
          </figure>
          <blockquote>
            <p>
              &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;
            </p>
          </blockquote>
        </div>
      </div>
      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="/assets/person_2.jpg" alt="Image" class="img-fluid mb-3">
            <p>
              Christine Aguilar
            </p>
          </figure>
          <blockquote>
            <p>
              &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;
            </p>
          </blockquote>
        </div>
      </div>
      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="/assets/person_4.jpg" alt="Image" class="img-fluid mb-3">
            <p>
              Robert Spears
            </p>
          </figure>
          <blockquote>
            <p>
              &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;
            </p>
          </blockquote>
        </div>
      </div>
      <div>
        <div class="testimonial">
          <figure class="mb-4">
            <img src="/assets/person_5.jpg" alt="Image" class="img-fluid mb-3">
            <p>
              Bruce Rogers
            </p>
          </figure>
          <blockquote>
            <p>
              &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
