<div class="site-section bg-light">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-11 mb-3 mt-5" data-aos="fade">


          <div class="col-3 border-primary ">
            <h2 class="font-weight-light text-primary display-2">Event categories</h2>

            <p>Share Your Hobby & Meet new Fellows that Share the same Passion !</p><br>

          </div>
          <br>
       	<%= render 'components/categories' %>
        </div>
      </div>
    </div>
  </div>
</div>